/* src/index.css */

/* Remove margens padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1. Modo Diurno (Padrão) */
:root {
  --bg-color: #f8f9fa;
  --text-color: #212529;
  --title-color: #717980;
  --element-bg: #ffffff;
  --input-bg: #ffffff;
  --input-bg-select: grey; /* O fundo cinza que você escolheu para o select */
  --border-color: #cccccc;
  --shadow-color: rgba(0,0,0,0.1);
}

/* 2. Modo Noturno (Ativado pelo botão do Header) */
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --title-color: #b0b3b8;
  --element-bg: #1e1e1e;
  --input-bg: #2d2d2d;
  --input-bg-select: #2d2d2d; 
  --border-color: #444444;
  --shadow-color: rgba(0,0,0,0.5);
}

/* 3. Aplica no fundo da página */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif; /* Fonte padrão limpa */
  transition: background-color 0.3s ease, color 0.3s ease;
}